<p>proyectos-component works!</p>
<div class="container">
    <div class="row" style="float:left">
      <div class="col">
<form >
    <br>
    <label>Nombre: </label> <br>
    <input type="text" name="nombre" placeholder="Ingresa tu nombre" [(ngModel)]="nombre"><br><br>

    <label>Apellido: </label><br>
    <input type="text" name="apellido" placeholder="Ingresa tu apellido" [(ngModel)]="apellido"><br><br>

    <label>Cargo: </label><br>
    <input type="text" name="cargo" placeholder="Ingresa tu cargo" [(ngModel)]="cargo"><br><br>
    
    <label>Salario: </label> <br>
    <input type="number" name="salario" placeholder="Ingresa tu salario" [(ngModel)]="salario"><br><br>
    <input type="submit" class="btn btn-primary" value="Insertar" (click)="agregarEmpleado()">
  </form>
</div>
</div>
</div>

<div style="text-align: center;">
    <button class="btn btn-primary" (click)="volverHome()">Ir a inicio</button>
</div>
