<h1 style="text-align: center;">{{titulo}}</h1>
<form>
  <input type="text" name="nombre" [(ngModel)]="nombre"><br>
  <input type="text" name="apellido" [(ngModel)]="apellido"><br>
  <input type="submit" value="Registrate" (click)="registrarUsuario()">
</form>
<br>
<!--Aqui se usa el ngIf y el else-->
<p *ngIf="registrado; else sinRegistrar">{{mensaje}} con el nombre {{nombre}} {{apellido}}</p>

<ng-template #sinRegistrar>
  <p>Nadie registrado</p>
</ng-template>

<br><br>
<!--Aqui se usa el ngFor-->
<ul>
  <li *ngFor="let entrada of entradas; let i=index"><span style="font-size: larger; font-weight: bold;">{{entrada.titulo}}</span>
  . Entrada {{i + 1}} <!--Un array empieza desde 0, cuando le ponemos el + 1 comienza desde el 1-->
  </li>
</ul>