<br>
<br>
<br>
<div class="container">
    <h2 style="text-align: center;">Formulario de login</h2>
    <br>
    <form style="width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
        <div class="form-group col-md-3">
            <input type="email"  class="form-control" name="email" placeholder="Email">
        </div>
        <br>
        <div class="form-group col-md-3">
            <input type="password"  class="form-control" name="password" placeholder="Password">
        </div>
        <br>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
    </form>
</div>